
.app-container {
    height : 100%;
    width  : 100%;
    display: flex;
}

.sidenav {
    height: 100%;
    width : 20%;
    background: #2d323e;
    color: whitesmoke;
}

.layout-content {
    width : 80%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

.top-sidenav {
    height         : 10%;
    display        : flex;
    justify-content: center;
    font-size      : 30px;
    font-style     : italic;
    background     : #3c4252;
    color          : whitesmoke;
}
 
.middle-sidenav {
    height: 90%;
}