<div class="top-sidenav">
  <span>Business name</span>  <i class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
<div class="middle-sidenav">
  <nav>
    <div class="menu-item-content">
      <div><i class="fas fa-home"></i><span class="menu-item-label">Home</span></div>
      <div [ngClass]="{'selected-menu-item': true}"><i class="fab fa-servicestack"></i><span class="menu-item-label"></span>Services<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
      <div class="child-menu"><i class="fas fa-circle"></i><span class="menu-item-label"></span>Classes</div>
      <div><i class="fas fa-calendar-alt"></i><span class="menu-item-label">Schedule</span></div>
      <div><i class="fas fa-universal-access"></i><span class="menu-item-label">Sales</span></div>
      <div><i class="fab fa-intercom"></i><span class="menu-item-label">Customers</span></div>
      <div><i class="fas fa-blog"></i><span class="menu-item-label">Online booking</span></div>
      <div><i class="fas fa-cog"></i><span class="menu-item-label">Settings</span></div>
    </div>
  </nav>
</div>
<div class="bottom-sidenav">
  <div><i class="fas fa-question-circle"></i><span>Help</span></div>
  <div>Powered by Claroo</div>
</div>